html{
    box-sizing: border-box;
    height: 100%;

}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;

}

body {
    align-items: center;
    background: linear-gradient(0deg, #5433FF, #20BDFF, #A5FECB);
    display: flex;
    font-family: 'Lucida Sans Unicode', 'sans-serif';
    font-display: swap;
    height: inherit;
    justify-content: center;
}

.wrapper {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.34);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.3);
    color: #232323;
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}

.screen {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.34);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.3);
    color: #232323;
    overflow: auto;
    font-size: 35px;
    padding: 20px;
    text-align: right;
    width: 326px;
}

.calc-button-row {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;

}

.calc-button {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255,255,255,0.34);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35 ,35, 0.1);
    color: #232323;
    flex-basis: 20%;
    font-size: 24px;
    font-family: inherit;
    height: 63px;

}

.calc-button:last-child {
    background: inherit;
    border: 0px;
}

.calc-button:last-child:hover {
background: rgba(255, 255, 255, 0.3);
}

.calc-button:hover {
    background: inherit;
}

.double {
    flex-basis: 47%;
}

.triple {
    flex-basis: 73%;
}